
<div id="wrap">
  <div id="header">
<h1>All Jobs Posted</h1>
    </div>

<%= will_paginate %>
  <div id="sidebar">
<ul class="users">
  <% @jobs.each do |job| %>
      <li>
        <%= job.emp_name%>
        </br>
        <%= job.job_ID%>
        <p>Apply for this Job!!!</p>
      </li>
  <% end %>
</ul>
    </div>
  </div>


<%= will_paginate %>
