
<div id="wrap">
  <div id="header">
<h1>All Jobs Posted</h1>
    </div>
<div id="sidebar">


  <%= table_for @jobs, class: 'table' do |t| %>
    <% t.column :emp_name, 'Company' %>
    <% t.column :job_ID, 'Job ID' %>
    <% t.column :title, 'Title' %>
    <% t.column :deadline, 'Deadline' %>
    <% t.column :actions do |job| %>
      <%= link_to "Edit", "/jobs/#{job.id}/edit", :method => :get %> |
      <%= link_to "Delete", job, :method => :delete, :confirm => "You sure?",
                  :title => "Delete #{job.job_ID} of #{job.emp_name}" %>
    <% end %>
  <% end %>

  </div>
  <br/>
<div id="nav">
<li><%= link_to "Back Home Page", session[:employer], :method => :get %></li>
</div>
    </div>
