
<div id="wrap">

  <%= table_for @job, class: 'table' do |t| %>
    <% t.column :emp_name, 'Company Name' %>
    <% t.column :title, 'Job Title' %>
    <% t.column :job_ID, 'Job ID' %>
  <% end %>

<br/>

  <div id="nav">
<li><%= link_to "SignIn to Apply!!!", new_session_path, :method => :get %></li>
      </div>
    </div>
