<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi,, <%= @jobapplication.email %>!</h1>
<p>Your Job Application Status has changed!</p>
<p>Status: <%=@jobapplication.status %></p>
<p>Job ID: <%=@jobapplication.job_ID %></p>
<p>Company: <%=@jobapplication.emp_name %></p>
</body>
</html>