<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div id="wrap">
  <div id="header">
<h1>All Jobs Posted</h1>
</div>

<%= table_for @employer, class: 'table' do |t| %>
  <% t.column :emp_name, 'Employer' %>
  <% t.column '' do |emp|%>
    <%= link_to "Delete", emp, :method => :delete, :confirm => "You sure?",
                :title => "Delete #{emp.emp_name}" %>
  <% end %>

<% end %>

<div id="nav">
<li><%= link_to "Admin Home Page", session[:admin], :method => :get %></li>
</div>
    </div>
</body>
</html>
