<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div id="wrap">
  <div id="header">
<h1>All Jobs Posted</h1>
</div>

<ul class="users">
  <% @employer.each do |emp| %>
      <br/>
      <li>
        <Strong>Employer : </Strong><%= emp.emp_name%>
        </br>
        <br/>
        <%= link_to "Delete This Employer", emp, :method => :delete, :confirm => "You sure?",
                    :title => "Delete #{emp.emp_name}" %>
      </li>
  <% end %>
</ul>
<div id="nav">
<li><%= link_to "Admin Home Page", session[:admin], :method => :get %></li>
</div>
    </div>
</body>
</html>