
<div id="wrap">
  <div id="header">
<h1>
  Welcome, <%=@employer.emp_name %>
</h1></div>

  <strong>Contact Person :</strong><%=@employer.contact_person %>
  <br/>
  <strong>Email :</strong><%=@employer.email %>
  <br/>
  <br/>

</div>
