
<div id="wrap">
  <div id="header">
    <h1>All Jobs Applications Recieved For Your Company</h1>
  </div>

  <%= table_for @jobapplications, class: 'table' do |t| %>
    <% t.column :emp_name, 'Company' %>
    <% t.column :job_ID, 'Job ID' %>
    <% t.column :email, 'Job Seeker' %>
    <% t.column :status, 'Status' %>
    <% t.column :actions do |jobapplication| %>
      <%= link_to "Edit Status", "/jobapplications/#{jobapplication.id}/edit", :method => :get %>
    <% end %>
  <% end %>

  <br/>
  <div id="nav">
    <li><%= link_to "Back To Home Page", session[:employer], :method => :get %></li>
  </div>
</div>
