<div id="wrap">
  <div id="header">
    <h1>Add a Category</h1>
  </div>

  <%= simple_form_for(@category) do |f| %>
      <%= f.input :category, placeholder: 'Enter here...' %>
      <%= f.button :submit, "Add a Category" %>
  <% end %>

  <br/>
  <div id="nav">
    <li><%= link_to "Back To Home Page", session[:admin], :method => :get %></li>
    </div>
</div>
